[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
imbalanced-learn = "*"
xgboost = "*"
shap = "*"
lime = "*"
torch = "*"
torchvision = "*"
matplotlib = "*"
seaborn = "*"
joblib = "*"

[dev-packages]
jupyter = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
